//Coloro principali del sito
$wood: #203434; //Sfondo verde destra
$light: #dcdcdc; //Sondo panna sinistra
$green: green; //Colore testo o link
$black: black; //Colore di default


// Light mode site
$wood_light: #80c8aa; //Sfondo verde destra light
// Titols
$wh-title: #ffffff;